body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f7f7f7;
}

.menu {
    height: 90px;
    background-color: #4699da;
}

.menulist {
    list-style-type: none;
    background-color: #333;
    margin-right: 5vw;
}

.menulist li {
    float: right;
    margin-right: 3vw;
    margin-top: 3.5vh;
}

.menulist li.left {
    float: left;
    margin-right: 3vw;
    margin-top: 3vh;
}


.menulist li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
}

.menulist li.left a {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menulist li a:hover {
    color: rgb(100, 99, 99);
}

h1.title {
    margin-top: 2%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px
}

div.topinfo {
    display: flex;
    justify-content: center;
}

div.info div.topinfo p{
    margin-right: 10%;
    margin-top: 3%;
    font-size: 30px;
}

div.topinfo img{
    margin-top: 1%;
}

div.info {
    margin-top: 2%;
    margin-inline: 10%;
    background-color: white;
    min-height: 80%;
    padding-top: 3%;
    padding-inline: 10%;
    font-size: 30px;
    padding-bottom: 3%;
}

div.info p {
    margin-top: 0;
}

div.info ul {
    font-size: 25px;
}

@media only screen and (max-width: 1230px) {

    div.info {
        margin-inline: 0%;
    }
    div.topinfo {
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
    }
    div.topinfo img{
        width: 30%;
        height: 30%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 715px) {
    h1.title {
        margin-top: 6%;
    }
    div.topinfo img{
        width: 50%;
        height: 50%;
        padding-bottom: 10%;
    }

    .menulist li.left {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .menulist li a {
        margin-right: 1vw;
        margin-top: 3vh;
        font-size: 16px;
    }
    
}

